<div class="row-fluid">
	<div class="header-wrapper span8 offset2">
		<h1>Estlin</h1>
		<h2>Schedule a tweet to be posted at a specific time</h2>
	</div>
</div>

<div class="row-fluid">
	<div class="main-wrapper span8 offset2">
		<% if current_user %>
			<div id="schedule-tweet-form-container">
				<%= render 'form' %>
			</div>
		<% end %>

		<div id="user_nav">
			<div class="sign-in-out-button">
			  <% if current_user %>
				  <span class="pull-right signed-in-info">Currently signed in as: <strong><%= current_user.nickname %></strong> | <%= link_to "Sign out", signout_path %></span>
			  <% else %>
				  <%= link_to signin_path, :class => "f-button" do %>
				  	Sign in with <%= image_tag("twitter-icon-28px.png") %> to continue
				  <% end %>
			  <% end %>
			</div>
		</div>
	</div>
</div>
