<h1>Estlin - Index - Main App Page</h1>

<%= flash[:notice] if flash[:notice] %>

<%= render 'form' if current_user %>

<div id="user_nav">
  <% if current_user %>
	  Signed in as <%= current_user.nickname %>
	  <%= link_to "Sign out", signout_path %>
  <% else %>
	  <%= link_to "Sign in with Twitter", signin_path %>
  <% end %>
</div>
